//- customers.pug : Список клиентов

extends _layout

block header
    em `customers.pug`
    hr

block content
    
    h1= title

    table(border="0" cellpadding="3" cellspacing="5")
        caption Список клиентов
        tr
            th клиент
            th подробно
            th тарифы
            th номера
        for cust in customers    
            tr
                td
                    span= cust.name
                td
                    a(href=`/customers/${cust.id}` title="Подробно по клиенту")
                        span (подробно..)
                td
                    a(href=`/tariffs/customers/${cust.id}` title="Тарифы")
                        span (тарифы..)
                td
                    a(href=`/numbers/customers/${cust.id}` title="Номера")
                        span (номера..)
                        